/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

 /* bakbak-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bakbak-one-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* contrail-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Contrail One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/contrail-one-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* denk-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/denk-one-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 16px;
  background: linear-gradient(rgb(175, 93, 0),rgb(119, 0, 0));
}

body {
  font-family: 'Bakbak One';
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 2.3em;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(153, 10, 10);
  font-family: 'Contrail One';
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bakbak One';
  font-weight: true;
  line-height: 1.15;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.2px;-webkit-text-stroke-color: rgb(153, 10, 10);
}

h1,
.text-size-h1 {
  font-family: 'Bakbak One';
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 {
  font-size: 5em;
  font-family: 'Denk One';
  font-style: normal;
}

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

.container {
  display: flex;
  gap: 20px;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5) {
  flex-grow: 1;
  border-radius: 10px;
  background: linear-gradient(to right, #a71414, #feb47b);
  padding: 10px;
  margin: 5px;
  flex: 1 1 300px;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.item img {
  border: 5px solid rgb(255, 0, 0);
  border-radius: 10px;
  text-align: center;
}