<style>
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
</style>

h1 {
font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
