html {
  background-image: url(img/CreepyRoom_BG.png);
}

h1 {
  color: #FF3131;
  width: 80%;
  padding: 20px;
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
	margin-top: 10px;
  margin-left: 450px;
}

h2 {
  color: #920f0f;
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}

li {
  color: #c65708;
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
}

td {
  color: #f7954f;
  font-family: "Alumni Sans Inline One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

th {
  color: #ba4e00;
  font-family: "Alumni Sans Inline One", sans-serif;
  font-weight: 400;
  font-style: italic;
}
