/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* battambang-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/battambang-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* battambang-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/battambang-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* azeret-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/azeret-mono-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* azeret-mono-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/azeret-mono-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cambo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cambo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cambo-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cascadia-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cascadia-code-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cascadia-code-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/cascadia-code-v5-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* end reset browser styles */
html {
  background-image: url(images/presidental_background.jpg)
}
body {
  background-color: rgb(255,255,255);
  border: 8px solid rgb(214, 36, 36);
  box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
  max-width: 760px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.sidebar {
 width: 30%;
 float: right;
 margin: 10px;
 background-color: rgb(124, 207, 255);
 padding: 8px 10px; 
 border: 7px solid rgb(240, 76, 76); 
 border-top: 10px solid rgb(240, 76, 76);
 border-radius: 5px;
 box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.sidebar h2 {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border-top: 2px solid rgb(240, 76, 76);
  border-bottom: 2px solid rgb(240, 76, 76);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 15px 0 5px 0;
  overflow: hidden;
}

p {
  font-family: 'Cambo';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
}

.sidebar p {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}