/* cherry-bomb-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cherry Bomb One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cherry-bomb-one-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bubblegum-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bubblegum-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 2em;
} 
/* end reset browser styles */

body {
	font-family: 'Cherry Bomb One';
}

html {
  background-image: linear-gradient(to right, rgb(28, 160, 61), rgb(172, 255, 183));
}

header {
	padding-top: 20px;
	position: relative;
}
.container {
	margin: center;
	padding: 5px 0 30px 0;	
	text-align: CENTER;
}

.logo {
	position: absolute;
	z-index: 100;
	left: 0;	
}

.info {
  border: 8px solid rgb(161, 19, 126);
  box-shadow: 0 0 15px 5px rgba(44,82,100,.75);
  max-width: 900px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding: 15px;
    background:
    linear-gradient(
      rgba(229, 116, 252, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(images/Equestria.jpg);
  background-size: cover;
  background-position: center;
}

p {
	font-family: 'Bubblegum Sans';
	font-style: normal;
	font-size: 25px;
	color:  rgb(255, 255, 255);
	-webkit-text-stroke-width: .5px;-webkit-text-stroke-color: rgb(121, 21, 114);
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
	padding: 7px;
}

header h1 {
	font-size: 50px;
	font-family: 'Cherry Bomb One';
	margin: 0 0 30px 0;
	color: rgb(255, 255, 255);
	-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: rgb(121, 21, 114);
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
	border-radius: 25px;
}

h2 {
	text-align: center;
	font-size: 3em;
	color: rgb(255, 255, 255);
	-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: rgb(121, 21, 114);
	text-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

nav {
	margin: center;	
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 9px 20px;
	background: #036d26;
	border-radius: 25px;
	border: 3px solid #ffffff;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.436);
}

/* your styles here */
nav a {
  -webkit-transition: -webkit-transform .3s,
                      background-color 1s ease-in .2s;
  transition: transform .3s,
              background-color 1s ease-in .1s;
}
nav a:hover {
	background-color: rgb(202, 255, 198);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.character1 {
	position: absolute;
	z-index: 100;
	left: 140px;
	top: 25px;
    transform-origin: center bottom;   /* pivot point */
    animation: seesaw 2s ease-in-out infinite alternate;
}

.character2 {
	position: absolute;
	z-index: 100;
	right: 140px;
	top: 20px;
    transform-origin: center bottom;   /* pivot point */
    animation: seesaw 2s ease-in-out infinite alternate;
}

.sidebar1 img{
	border: 7px solid rgb(170, 27, 189);
	border-radius: 10px;
	margin: 0 auto;
}


@keyframes seesaw {
    0%   { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}